<div class="mx-auto px-0 sm:px-20 md:px-0">
  <div class="border border-zinc-700 text-lg subpixel-antialiased rounded rounded-lg leading-normal overflow-hidden drop-shadow-2xl">

    <div class="p-2 bg-zinc-700 border-b border-b-zinc-700">
      <div class="flex items-center">
        <span class="h-2 w-2 bg-red-500/30 rounded-full"></span>
        <span class="ml-1 h-2 w-2 bg-orange-300/30 rounded-full"></span>
        <span class="ml-1 h-2 w-2 bg-green-500/30 rounded-full"></span>
      </div>
    </div>

    <div class="py-6 px-6 md:py-20 md:px-24 lg:py-24 lg:px-36 font-mono whitespace-nowrap bg-zinc-800 text-zinc-50">
      <div class="overflow-x-auto">
        <span class="text-zinc-500">
          #/-----------------[DOTENV_PUBLIC_KEY]------------------/
        </span>
        <br/>
        <span class="text-zinc-500">
          #/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;public-key encryption for .env files&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/
        </span>
        <br/>
        <span class="text-zinc-500">
          #/&nbsp;&nbsp;&nbsp;&nbsp;[how it works](https://dotenvx.com/encryption)&nbsp;&nbsp;&nbsp;&nbsp;/
        </span>
        <br/>
        <span class="text-zinc-500">
          #/------------------------------------------------------/
        </span>
        <br/>
        <span class="text-yellow-300">DOTENV_PUBLIC_KEY</span><span class="text-zinc-100">="</span><span class="text-violet-500">03f8b376234c4f2f0445f392a12e80f3a84b4b0d1e0c3df85c494e45812653c22a</span><span class="text-zinc-100">"</span>
        <br/>
        <br/>
        <span class="text-zinc-500"># Database configuration</span>
        <br/>
        <span class="text-yellow-300">DB_HOST</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BNr24F4vW9CQ37LOXeRgOL6QlwtJfAoAVXtSdSfpicPDHtqo/Q2HekeCjAWrhxHy+VHAB3QTg4fk9VdIoncLIlu1NssFO6XQXN5fnIjXRmp5pAuw7xwqVXe/1lVukATjG0kXR4SHe45s4Tb6fEjs</span><span class="text-zinc-100">"</span>
        <br/>
        <span class="text-yellow-300">DB_PORT</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BOCHQLIOzrq42WE5zf431xIlLk4iRDn1/hjYBg5kkYLQnL9wV2zEsSyHKBfH3mQdv8w4+EhXiF4unXZi1nYqdjVp4/BbAr777ORjMzyE+3QN1ik1F2+W5DZHBF9Uwj69F4D7f8A=</span><span class="text-zinc-100">"</span>
        <br/>
        <span class="text-yellow-300">DB_USER</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BP6jIRlnYo5LM6/n8GnOAeg4RJlPD6ZN/HkdMdWfgfbQBuZlo44idYzKApdy0znU3TSoF5rcppXIMkxFFuB6pS0U4HMG/jl46lPCswl3vLTQ7Gx5EMT6YwE6pfA88AM77/ebQZ6y0L5t</span><span class="text-zinc-100">"</span>
        <br/>
        <span class="text-yellow-300">DB_PASSWORD</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BMycwcycXFFJQHjbt1i1IBS7C31Fo73wFzPolFWwkla09SWGy3QU1rBvK0YwdQmbuJuztp9JhcNLuc0wUdlLZVHC4/E6q/K7oPULNPxC5K1LwW4YuX80Ngl6Oy13Twero864f2DXXTNb</span><span class="text-zinc-100">"</span>
        <br/>
        <span class="text-yellow-300">DB_NAME</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BGtVHZBbvHmX6J+J+xm+73SnUFpqd2AWOL6/mHe1SCqPgMAXqk8dbLgqmHiZSbw4D6VquaYtF9safGyucClAvGGMzgD7gdnXGB1YGGaPN7nTpJ4vE1nx8hi1bNtNCr5gEm7z+pdLq1IsH4vPSH4O7XBx</span><span class="text-zinc-100">"</span>

        <br/>
        <br/>
        <span class="text-zinc-500"># API Keys</span>
        <br/>
        <span class="text-yellow-300">API_KEY</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BD9paBaun2284WcqdFQZUlDKapPiuE/ruoLY7rINtQPXKWcfqI08vFAlCCmwBoJIvd2Nv3ACiSCA672wsKeJlFJTcRB6IRRJ+fPBuz2kvYlOiec7EzHTT8EVzSDydFun5R5ODfmN</span><span class="text-zinc-100">"</span>
        <br/>
        <span class="text-yellow-300">STRIPE_API_KEY</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BM6udWmFsPaBzlND0dFBv7R55JiaA+cZnbun8DaVNrEvO+8/k+lsXbZQ0bCPks8kUsdD2qrSp/tii0P8gVJ/gp+pdDuhdcJj91hxJ7nzSFf6h0ofRb38/2WHFhxg77XExxzui1s3w42Z</span><span class="text-zinc-100">"</span>

        <br/>
        <br/>
        <span class="text-zinc-500"># Email Configuration</span>
        <br/>
        <span class="text-yellow-300">EMAIL_HOST</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BOzlZJy9QQONa4h8jj0CSZg0JHbDp/T96bxC39ildVfc1rMgDHOfgqZCaWaTMYjTF69UxkgN3tSOGOp0N78QYDuIIJ4RZbHYdxmqXmuvcn3wvBIqn+ubL/bf1Vc3yURbVwdTNvM/JhL3YN0tdikO</span><span class="text-zinc-100">"</span>
        <br/>
        <span class="text-yellow-300">EMAIL_USER</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BCW0xkE7RfJYJk7Dcb3lRdwvEyzBSoZmDQxWr72JjOb1yBx1XS9gcDOFFIHlD78lBweUNDl4dfaqyuuFBGzI/gdQ8ua4y9w2tOIDDNztd+XpWUAtKeDVqcOTJiEqv7e241hi/F6EZcYC2oUlfYH+</span><span class="text-zinc-100">"</span>
        <br/>
        <span class="text-yellow-300">EMAIL_PASSWORD</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BA0Rnsy9DQi2y90GbFnqD7coqG4V5ob48gXVrYqZhy0vrki3su/t9JFNG+omBHCeUICjqyKB2XY059xxSs4xQW+G+/RI7ygpB8oxiq5mT52qYpXch36mMgRFppBIi4SoB2YQZ0ANHgWv</span><span class="text-zinc-100">"</span>

        <br/>
        <br/>
        <span class="text-zinc-500"># Logging</span>
        <br/>
        <span class="text-yellow-300">LOG_LEVEL</span><span class="text-zinc-100">="</span><span class="text-violet-500">encrypted:BKmgv5E7/l1FnSaGWYWBPxxagdgN+KSEaB+va3PePjwEp7CqW6PlysrweZq49YTB5Fbc3UN/akLVn1RZ2AO4PyTVqgYYGBwerjpJiou9R2KluNV3T4j0bhsAkBochg3YpHcw3RX/</span><span class="text-zinc-100">"</span>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</div>
