<div class="mx-auto bg-[#11110f] text-[#cbc7bc] font-mono text-sm rounded-xl border shadow-2xl overflow-hidden" style="border-color: rgba(95, 86, 64, 0.45);">
  <!-- Terminal header -->
  <div class="flex items-center gap-1 px-3 py-2 bg-[#191814] border-b" style="border-color: rgba(95, 86, 64, 0.30);">
    <span class="h-2 w-2 rounded-full bg-[#8e7d56]"></span>
    <span class="h-2 w-2 rounded-full bg-[#746843]"></span>
    <span class="h-2 w-2 rounded-full bg-[#5b5138]"></span>
  </div>

  <!-- Code content -->
  <pre class="px-6 py-6 leading-relaxed whitespace-pre-wrap overflow-x-auto">
<span class="text-[#b89a62]"># 🔐 Encrypted with dotenvx</span>
<span class="text-[#d3d0c6]">DOTENV_PUBLIC_KEY</span><span class="text-[#d3bc66]">="</span><span class="text-[#d3bc66]">026d4945b6513baec60f68b207f203ba534fb54d2b0c9952557d240815e42a7d83</span><span class="text-[#d3bc66]">"</span>

<span class="text-[#b89a62]"># 🗄️ Database</span>
<span class="text-[#d3d0c6]">DB_HOST</span><span class="text-[#d3bc66]">="</span><span class="text-[#d3bc66]">encrypted:BMO83g2fEtr66gcFvUs2+/ZuccCQuBbZwSW3JfCLvoUiACmusxCbTfG2dvc2LxenPhUtgWapO8f9BCcBVAcTnMcrd3kndvk+acWytRjIWRUvsSezdD340/OT5EQgbqJtwXfuRz0i2t8PVA==</span><span class="text-[#d3bc66]">"</span>
<span class="text-[#d3d0c6]">DB_USER</span><span class="text-[#d3bc66]">="</span><span class="text-[#d3bc66]">encrypted:BBrXv55qxgA19sEqqNnZzS/C0WguVk6ROQmfxnGhBhafLoc0XwpKprk/J3hJCVq7s45WyBSXGUz9U9rHxCBeVkl27WFzzgZkDewX0gBLt+Cc37K0EVU2hZ1GPbax5mzpI5Jwwi65be6+</span><span class="text-[#d3bc66]">"</span>
<span class="text-[#d3d0c6]">DB_PASSWORD</span><span class="text-[#d3bc66]">="</span><span class="text-[#d3bc66]">encrypted:BC8aRBQ/Q2YMPjJayggqVN8skqTtxtXFgYA0e8/Ud/Jcez2Daukr6edBmEWQdz/Lu91casaW6CkkCvLSQkPvNpmgYqFB4BKHTUDowX/KEDvVI6CU5Vt478VF5dqHbvPIoKKtBe+4FNXlk5O96A==</span><span class="text-[#d3bc66]">"</span>

<span class="text-[#b89a62]"># 🔑 API</span>
<span class="text-[#d3d0c6]">RESEND_API_KEY</span><span class="text-[#d3bc66]">="</span><span class="text-[#d3bc66]">encrypted:BCrnJ2sAZH2qwRlPvUqqWyEsd+cVeMQiOV5H/xZ7vjFfcMXHMunmAv/7+jUI356fkVtHfrXu+vBJLjXJiirgB2gky5vvy7h5jevgMS6BgPL5KwjC0tYPlYbe4Bfrf1funYqqrFYaPjsEO+77vCtVaBPz</span><span class="text-[#d3bc66]">"</span>
<span class="text-[#d3d0c6]">STRIPE_API_KEY</span><span class="text-[#d3bc66]">="</span><span class="text-[#d3bc66]">encrypted:BOD5Fg+qI9dqhkh+gjCLrTFyhxEAhNDtLgwjkMZOr9l9CsvvhprwCrgsZbIRIFa1Vf6ATnWZ3/bacYnlBXlZ1Hc6YMZHog+ZuVW4AjwxCkB8I0AkcOeOsYzQx2fdtI4kFii01UIhN53jfmUjzLSPYw==</span><span class="text-[#d3bc66]">"</span>
<span class="text-[#d3d0c6]">VERCEL_API_KEY</span><span class="text-[#d3bc66]">="</span><span class="text-[#d3bc66]">encrypted:BIgpV7btyiGYyySYnG3+NJVGUzNzB4zWjIZbM/VgtnPuiuSsK/KBkirtqkDBI8U/04BRKtupOTNSJTVu6GO39XPSpPvlxA4fNRyeK85W+rFGARp4mrgqfEz/O/eZvqJSqS5kNraAhbkKpXq81rEOBg==</span><span class="text-[#d3bc66]">"</span>
  </pre>
</div>
