<a href="/features/run-anywhere" class="flex flex-col gap-1">
  {% if include.mp4 %}
    <div class="overflow-hidden rounded-lg border-4 border-zinc-200 dark:border-zinc-800 hover:border-blue-500 dark:hover:border-blue-400 aspect-[16/10]">
      <video autoplay muted loop playsinline class="w-full h-full object-cover">
        <source src="{{ include.mp4 }}" type="video/mp4">
        your browser does not support the video tag
      </video>
    </div>
  {% else %}
    <img src="https://lipsum.app/1152x720/" class="rounded-lg border-4 border-zinc-200 dark:border-zinc-800 hover:border-blue-500 dark:hover:border-blue-400"/>
  {% endif %}
  <h5 class="font-bold text-lg link-primary text-center">{{ include.feature }}</h5>
  <p class="text-center text-zinc-500 text-sm">{{ include.description }}</p>
</a>
