<table class="min-w-full text-left border-0">
  <thead class="bg-zinc-100 dark:bg-zinc-900">
    <tr>
      <th class="px-4 py-3 border-b border-b-zinc-200 dark:border-b-zinc-700"></th>
      <th class="px-4 py-3 border-b border-b-zinc-200 dark:border-b-zinc-700 leading-tight"><a href="https://github.com/dotenvx/dotenvx" target="_blank">{% include logos/github.html class="h-4 w-4 mb-0.5 inline-block" %} <span class="">OSS</span></a></th>
      <th class="px-4 py-3 border-b border-b-zinc-200 dark:border-b-zinc-700">Pro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700 text-zinc-500 text-right">Audience</td>
      <td class="px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700">Hobbyists</td>
      <td class="px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700">Small-Medium Business</td>
    </tr>
		{% include v1/components/feature-table-row.html feature="Run anywhere" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Multi-environment" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Encrypted envs" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Monorepo" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Multiple .env files" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Multi-line values" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Variable expansion" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Command substitution" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Get/Set" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Scan" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Contextual help" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Debug" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Append .gitignore" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Generate .env.example" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Prebuild" oss="✅" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Precommit" oss="✅" pro="✅" %}
    <!--
    <tr>
      <td class="px-4 py-2 border-b text-right">Variable expansion</td>
      <td class="px-4 py-2 border-b">✅</td>
      <td class="px-4 py-2 border-b">✅</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b text-right">Command substitution</td>
      <td class="px-4 py-2 border-b">✅</td>
      <td class="px-4 py-2 border-b">✅</td>
    </tr>
    -->
		{% include v1/components/feature-table-row.html feature="Pro CLI" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Web UI" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Sync .env files" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Secrets via pull request" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Managed private keys" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="GitHub SSO" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Sync to VSCode" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Sync to Chrome" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Trusted devices" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Activity logs" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="24/7/365 support" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Personal onboarding" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Cloud backups" oss="⛔️" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Unlimited projects" oss="n/a" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Unlimited secrets" oss="n/a" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Unlimited teammates" oss="n/a" pro="✅" %}
		{% include v1/components/feature-table-row.html feature="Zero-knowledge encryption" oss="n/a" pro="✅" %}
    <!--{% include v1/components/feature-table-row.html feature="Extended 75-day free trial" oss="n/a" pro="✅" %}-->
		{% include v1/components/feature-table-row.html feature="Dedicated support" oss="None" pro="Email" %}
		{% include v1/components/feature-table-row.html feature="License" oss="BSD-3" pro="Commercial" %}
		{% include v1/components/feature-table-row.html feature="Pricing" oss="Free" pro="$299/month" %}
    <tr>
      <td class="px-4 py-4"></td>
      <td class="px-4 py-4">
        <a class="btn-secondary w-auto flex-none" href="https://github.com/dotenvx/dotenvx" target="_blank">Get started ↗</a>
      </td>
      <td class="px-4 py-4">
        <a href="https://pro.dotenvx.com/signup" class="btn-success w-auto flex-none inline-block">Try it free for 75 days</a>
      </td>
    </tr>
  </tbody>
</table>
