<tr>
  <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700 text-right">
    <span class="inline-block">{% if include.href %}<a href="{{ include.href }}" class="link-primary">{{ include.feature }}</a>{% else %}{{ include.feature }}{% endif %}</span>
  </td>
  <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700">
    {{ include.oss }}
  </td>
  <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700">
    {{ include.pro }}
  </td>
  <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700">
    {{ include.ent }}
  </td>
</tr>
