<div class="max-w-full">
  <div 
    class="border font-mono font-semibold dark:border-zinc-800 dark:text-zinc-50 rounded-md hover:border-yellow-300 dark:hover:border-yellow-300 cursor-pointer"
    x-show="brew"
    x-data="{
        copyText: 'brew install dotenvx/brew/dotenvx',
        copyNotification: false,
        copyToClipboard() {
          navigator.clipboard.writeText(this.copyText);
          this.copyNotification = true;
          let that = this;
          setTimeout(function(){
            that.copyNotification = false;
          }, 3000);
        }
      }"
    x-on:click="copyToClipboard();"
  >
    <div class="flex items-center">
      <div class="flex-1 overflow-scroll whitespace-nowrap p-3 py-5">
        brew install dotenvx/brew/dotenvx
      </div>
      <div class="flex-0 pr-3">
        {% include v1/components/copy.html %}
      </div>
    </div>
  </div>

  <div 
    class="border font-mono font-semibold dark:border-zinc-800 dark:text-zinc-50 rounded-md hover:border-yellow-300 dark:hover:border-yellow-300 cursor-pointer"
    x-show="!brew"
    x-data="{
        copyText: 'curl -fsS https://dotenvx.sh/ | sh',
        copyNotification: false,
        copyToClipboard() {
          navigator.clipboard.writeText(this.copyText);
          this.copyNotification = true;
          let that = this;
          setTimeout(function(){
            that.copyNotification = false;
          }, 3000);
        }
      }"
    x-on:click="copyToClipboard();"
    x-cloak
  >
    <div class="flex items-center">
      <div class="flex-1 overflow-scroll whitespace-nowrap p-3 py-5">
        curl -fsS https://dotenvx.sh/ | sh
      </div>
      <div class="flex-0 pr-3">
        {% include v1/components/copy.html %}
      </div>
    </div>
  </div>

  {% if include.buttons == "false" %}
  {% else %}
  <div class="flex justify-between">
    <div class="flex gap-2">
      <button x-on:click="brew = true" class="p-2 px-4 font-medium border-b-2 border-b-yellow-300 hover:bg-zinc-100 dark:hover:bg-zinc-900 tracking-wider" x-bind:class="brew ? 'border-b-yellow-300' : '!border-b-transparent'">brew</button>
      <button x-on:click="brew = false" class="p-2 px-4 font-medium border-b-2 border-b-transparent hover:bg-zinc-100 dark:hover:bg-zinc-900 tracking-wider" x-bind:class="!brew ? '!border-b-yellow-300' : 'border-b-transparent'">curl</button>
    </div>
    {% if include.docs == "false" %}
    {% else %}
    <a href="/docs" class="text-zinc-500 border-b-2 border-b-transparent hover:border-b-yellow-300 dark:text-zinc-400 hover:bg-zinc-100 dark:hover:bg-zinc-900 p-2 font-medium"><span class="hidden sm:block">Documentation</span><span class="block sm:hidden">Docs</span></a>
    {% endif %}
  </div>
  {% endif %}

</div>
