<a href="/vscode-extension" class="card h-100 border border-violet-700 hover:border-violet-800 border-4 dark:border-zinc-800 p-10 bg-violet-700 rounded rounded-lg text-green-50">
  <div class="flex gap-x-2 items-center">
    <h5 class="font-bold text-4xl">Heroku Buildpack</h5>
  </div>

  <p class="mt-3 text-2xl">Install dotenvx to Heroku as a buildpack.</p>

  {% include logos/vscode.html class="text-violet-600 p-10 py-6" %}
  
  <p class="text-lg btn-secondary" href="https://github.com/dotenvx/heroku-buildpack-dotenvx">View Instructions</p>
</a>
