<table class="min-w-full text-left text-sm">
  <thead class="sticky top-0 z-10">
    <tr>
      <th class="px-1 md:px-2 lg:px-4"></th>
      <th class="px-1 md:px-2 lg:px-4">
        <a href="https://github.com/dotenvx/dotenvx">
          <span class="inline-block whitespace-nowrap bg-zinc-100 dark:bg-zinc-800 text-black dark:text-white font-bold px-2.5 py-1 text-lg rounded-sm">{% include logos/github.html class="h-5 w-5 mb-0.5 inline-block" %}<span class="font-mono">OSS</span></span>
        </a>
      </th>
      <th class="px-1 md:px-2 lg:px-4">
        <a href="/radar">
          <span class="inline-block bg-[#00FF00] text-black font-bold px-2.5 py-1 text-lg italic rounded-sm">Radar</span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700 text-zinc-500 text-right"></td>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700 italic font-bold">Better dotenv</td>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700 italic font-bold">Env observability</td>
    </tr>
    <tr>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-100 dark:border-b-zinc-800 text-zinc-500 text-right"></td>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-100 dark:border-b-zinc-800">Open Source</td>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-100 dark:border-b-zinc-800">Commercial</td>
    </tr>
    {% capture oss %}
      {% include v1/icons/check.html classes="text-green-600 h-5 w-5" %}
    {% endcapture %}
    {% capture radar %}
      {% include v1/icons/check.html classes="text-green-600 h-5 w-5" %}
    {% endcapture %}
    {% include v1/components/product-table-row.html feature="Encryption"               oss=oss radar=radar href="/features/encryption" %}
    {% include v1/components/product-table-row.html feature="Run Anywhere"             oss=oss radar=radar href="/features/run-anywhere" %}
    {% include v1/components/product-table-row.html feature="Multiple Environments"    oss=oss radar=radar href="/features/multiple-environments" %}
    {% include v1/components/product-table-row.html feature="Variable expansion"       oss=oss radar=radar href="/docs/advanced/run-variable-expansion" %}
    {% include v1/components/product-table-row.html feature="Command substitution"     oss=oss radar=radar href="/docs/advanced/run-command-substitution" %}

    {% capture oss %}
      {% include v1/icons/dash-circle.html classes="text-red-600 dark:text-red-400 h-4 w-4" %}
    {% endcapture %}

    {% include v1/components/product-table-row.html feature="Backups"                 oss=oss radar=radar %}
    {% include v1/components/product-table-row.html feature="Versioning"              oss=oss radar=radar %}
    {% include v1/components/product-table-row.html feature="Observability"           oss=oss radar=radar %}
    {% include v1/components/product-table-row.html feature="Anomaly Detection"       oss=oss radar=radar %}
    {% include v1/components/product-table-row.html feature="Attack Mitigation"       oss=oss radar=radar %}
    {% include v1/components/product-table-row.html feature="Support"                 oss="None" radar="Email" %}
    {% include v1/components/product-table-row.html feature="License" oss="<a class=\"underline\" target=\"_blank\" href=\"https://github.com/dotenvx/dotenvx/blob/main/LICENSE\">BSD-3</a>" radar="Commercial"%}

    <tr class="text-base">
      <td class="px-1 md:px-2 lg:px-4 py-3 text-right font-bold">
        Pricing
      </td>
      <td class="px-1 md:px-2 lg:px-4 py-3 font-semibold">
        Free
      </td>
      <td class="px-1 md:px-2 lg:px-4 py-3 font-semibold">
        <div class="flex flex-col">
          <span>$29</span>
          <span class="text-sm font-light">Lifetime access · One-time payment</span>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot class="">
    <tr>
      <td class="px-1 md:px-2 lg:px-4"></td>
      <td class="px-1 md:px-2 lg:px-4 align-top text-end">
        <a href="https://github.com/dotenvx/dotenvx" class="btn-secondary w-full flex-none inline-block" target="_blank">
          <span class="hidden md:block">Get started ↗</span>
          <span class="block md:hidden">Start<span class="ml-1">↗</span></span>
        </a>
      </td>
      <td class="px-1 md:px-2 lg:px-4 align-top text-end">
        <div class="flex flex-col gap-2">
          <a href="https://buy.stripe.com/bJe6oHccB2yM9WAbti7IY00" target="_blank" rel="noopener" class="btn-radar w-full flex-none inline-block" data-umami-event="Buy button">
            <span class="hidden md:block">Buy Lifetime Access ›</span>
            <span class="block md:hidden">Buy<span class="ml-1">›</span></span>
          </a>
          <a href="/radar" class="btn-outline w-full flex-none inline-block">
            <span class="hidden md:block">Learn more</span>
            <span class="block md:hidden">Learn</span>
          </a>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
