<table class="min-w-full text-left">
  <thead class="sticky top-0 z-10">
    <tr>
      <th class="px-1 md:px-2 lg:px-4"></th>
      <th class="px-1 md:px-2 lg:px-4">
        <a href="https://github.com/dotenvx/dotenvx">
          <span class="inline-block whitespace-nowrap bg-zinc-100 dark:bg-zinc-800 text-black dark:text-white font-bold px-2.5 py-1 rounded-sm">{% include logos/github.html class="h-5 w-5 mb-0.5 inline-block" %}<span class="font-mono">OSS</span></span>
        </a>
      </th>
      <th class="px-1 md:px-2 lg:px-4">
        <a href="/ops">
          <span class="inline-block bg-[#1552D8] text-white font-light px-2.5 py-1 rounded-sm">OPS</span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <!--
    <tr>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700 text-zinc-500 text-right"></td>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700 italic font-bold">Free.</td>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-200 dark:border-b-zinc-700 italic font-bold">Commercial.</td>
    </tr>
    -->
    <tr>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-100 dark:border-b-zinc-800 text-zinc-500 text-right"></td>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-100 dark:border-b-zinc-800">Open Source</td>
      <td class="px-1 md:px-2 lg:px-4 py-2 border-b border-b-zinc-100 dark:border-b-zinc-800">Commercial</td>
    </tr>
    {% capture oss %}
      {% include v1/icons/check.html classes="text-green-600 h-5 w-5" %}
    {% endcapture %}
    {% capture ops %}
      {% include v1/icons/check.html classes="text-green-600 h-5 w-5" %}
    {% endcapture %}
    {% include v1/components/product-table-row.html feature="Encryption"               oss=oss ops=ops href="/features/encryption" %}
    {% include v1/components/product-table-row.html feature="Run Anywhere"             oss=oss ops=ops href="/features/run-anywhere" %}
    {% include v1/components/product-table-row.html feature="Multiple Environments"    oss=oss ops=ops href="/features/multiple-environments" %}
    {% include v1/components/product-table-row.html feature="Precommit"                oss=oss ops=ops href="/features/precommit" %}
    {% include v1/components/product-table-row.html feature="Prebuild"                 oss=oss ops=ops href="/features/prebuild" %}
    {% include v1/components/product-table-row.html feature="Variable expansion"       oss=oss ops=ops href="/features/variable-expansion" %}
    {% include v1/components/product-table-row.html feature="Command substitution"     oss=oss ops=ops href="/features/command-substitution" %}

    {% capture oss %}
      {% include v1/icons/dash-circle.html classes="text-red-600 dark:text-red-400 h-4 w-4" %}
    {% endcapture %}

    {% include v1/components/product-table-row.html feature="Observability"           oss=oss ops=ops %}
    {% include v1/components/product-table-row.html feature="Sync"                    oss=oss ops=ops %}
    {% include v1/components/product-table-row.html feature="Backups"                 oss=oss ops=ops %}
    {% include v1/components/product-table-row.html feature="Versioning"              oss=oss ops=ops %}
    <!--{% include v1/components/product-table-row.html feature="Anomaly Detection"       oss=oss ops=ops %}-->
    <!--{% include v1/components/product-table-row.html feature="Attack Mitigation"       oss=oss ops=ops %}-->
    {% include v1/components/product-table-row.html feature="Support"                 oss="None" ops="Email" %}
    {% include v1/components/product-table-row.html feature="License" oss="<a target=\"_blank\" href=\"https://github.com/dotenvx/dotenvx/blob/main/LICENSE\">BSD-3</a>" ops="Commercial"%}

    <tr class="text-base">
      <td class="px-1 md:px-2 lg:px-4 py-3 text-right font-bold">
        Pricing
      </td>
      <td class="px-1 md:px-2 lg:px-4 py-3 font-semibold">
        Free
      </td>
      <td class="px-1 md:px-2 lg:px-4 py-3 font-semibold">
        $49/year
      </td>
    </tr>
  </tbody>
  <tfoot class="">
    <tr>
      <td class="px-1 md:px-2 lg:px-4"></td>
      <td class="px-1 md:px-2 lg:px-4 align-top text-end">
        <a href="/docs/quickstart" class="btn-submit w-full flex-none inline-block" target="_blank">
          <span class="hidden md:block">Quickstart<span class="ml-1">&rarr;</span></span>
          <span class="block md:hidden">Start<span class="ml-1">&rarr;</span></span>
        </a>
      </td>
      <td class="px-1 md:px-2 lg:px-4 align-top text-end">
        <div class="flex flex-col gap-2">
          <a href="https://buy.stripe.com/cNi4gz90p6P22u868Y7IY03" target="_blank" rel="noopener" class="btn-primary w-full flex-none inline-block" data-umami-event="Buy button">
            <span class="hidden md:block">Early Access<span class="ml-1">›</span></span>
            <span class="block md:hidden">Buy<span class="ml-1">›</span></span>
          </a>
          <a href="/ops" class="btn w-full flex-none inline-block">
            <span class="hidden md:block">Learn more</span>
            <span class="block md:hidden">Learn</span>
          </a>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
