<div class="max-w-full flex flex-col sm:flex-row">
  <div class="flex-1 flex items-center">
    <a href="https://news.ycombinator.com/item?id=40789353" target="_blank"><img alt="Featured on Hacker News" src="https://hackerbadge.now.sh/api?id=40789353" class="w-60 p-1"/></a>
  </div>
  <div class="flex-1 flex items-center">
    <a href="https://trendshift.io/repositories/10988" target="_blank"><img src="https://trendshift.io/api/badge/repositories/10988" alt="dotenvx%2Fdotenvx | Trendshift" class="w-60 p-1"/></a>
  </div>
</div>
