<div class="mx-auto px-0 sm:px-20 md:px-0">
  <div class="border dark:border-zinc-700 text-sm subpixel-antialiased rounded-lg leading-normal overflow-hidden">

    <div class="p-3 bg-zinc-100 dark:bg-zinc-900 border-b dark:border-b-zinc-700">
      <div class="flex items-center">
        <span class="h-3 w-3 bg-red-500/50 dark:bg-red-500/30 rounded-full"></span>
        <span class="ml-2 h-3 w-3 bg-orange-300/50 dark:bg-orange-300/30 rounded-full"></span>
        <span class="ml-2 h-3 w-3 bg-green-500/50 dark:bg-green-500/30 rounded-full"></span>
      </div>
    </div>

    <div class="overflow-x-auto p-5 py-16 font-mono font-semibold whitespace-nowrap bg-zinc-50 dark:bg-zinc-950 text-zinc-950 dark:text-zinc-50">
      <span class="text-green-500 dark:text-red-500">$</span> <span class="text-zinc-500 dark:text-zinc-400">echo</span> <span class="text-zinc-600 dark:text-zinc-300">"HELLO=production"</span> <span class="text-blue-600 dark:text-purple-400">> .env.production</span>
      <br/>
      <span class="text-green-500 dark:text-red-500">$</span> <span class="text-zinc-500 dark:text-zinc-400">echo</span> <span class="text-zinc-600 dark:text-zinc-300">"console.log('Hello ' + process.env.HELLO)"</span> <span class="text-blue-600 dark:text-purple-400">> index.js</span>
      <br/>
      <br/>
      <span class="text-green-500 dark:text-red-500">$</span> <span class="text-zinc-500 dark:text-zinc-400">dotenvx run --env-file=.env.production -- node index.js</span>
      <br/>
      <span class="text-zinc-900 dark:text-zinc-100">[dotenvx][info] loading env (1) from .env.production</span>
      <br/>
      <span class="text-zinc-900 dark:text-zinc-100">Hello production</span>
      <br/>
      <span class="text-orange-400 dark:text-orange-300">> ^^</span>
    </div>
  </div>
</div>
