<div class="mx-auto px-0 sm:px-20 md:px-0">
  <div class="border border-zinc-700 text-sm subpixel-antialiased rounded-lg leading-normal overflow-hidden">

    <div class="p-3 bg-zinc-900 border-b border-b-zinc-700">
      <div class="flex items-center">
        <span class="h-3 w-3 bg-red-500/30 rounded-full"></span>
        <span class="ml-2 h-3 w-3 bg-orange-300/30 rounded-full"></span>
        <span class="ml-2 h-3 w-3 bg-green-500/30 rounded-full"></span>
      </div>
    </div>

    <div class="overflow-x-auto p-5 py-14 font-mono font-semibold whitespace-nowrap bg-zinc-950 text-zinc-50 text-3xl">
      <div class="mx-auto w-fit"><span class="text-green-500 mr-2">$</span><span class="text-purple-400 pr-4">dotenvx pro cloak</span></div>
    </div>
  </div>
</div>
