---
layout: null
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[x-cloak] {
  display: none;
}

body {
  @apply font-sans antialiased bg-zinc-50 dark:bg-zinc-950 text-zinc-600 dark:text-zinc-400 selection:bg-[#ECD53F] selection:text-zinc-950;
}

.btn-primary {
  @apply text-center rounded-full bg-zinc-950 dark:bg-zinc-50 px-4 py-3.5 text-sm font-semibold text-white dark:text-zinc-950 hover:outline hover:outline-2 hover:outline-offset-2 hover:outline-yellow-300 dark:hover:outline-yellow-200 active:bg-yellow-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200;
}

.btn-secondary {
  @apply text-center rounded-full bg-zinc-50 dark:bg-zinc-900 lg:dark:bg-zinc-950 px-4 py-3.5 text-sm font-semibold text-zinc-950 dark:text-zinc-300 dark:hover:text-zinc-50 shadow-sm hover:bg-zinc-200 dark:hover:bg-zinc-800 active:bg-zinc-300 dark:active:bg-zinc-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200 ease-in duration-150;
}

.btn-text {
  @apply text-center rounded-full px-4 py-2.5 text-sm font-semibold text-zinc-500 hover:text-zinc-950 dark:text-zinc-400 dark:hover:text-zinc-50 active:bg-zinc-300 dark:active:bg-zinc-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200 ease-in duration-150;
}

.btn-outline {
  @apply text-center rounded-md cursor-pointer border border-zinc-300 dark:border-zinc-700 hover:border-zinc-400 dark:hover:border-zinc-600 px-3.5 py-3 font-medium text-zinc-950 dark:text-zinc-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200;
}

.link-primary {
  @apply text-blue-500 hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-500 hover:underline;
}

.link-secondary {
  @apply text-zinc-600 dark:text-zinc-500 underline hover:text-blue-600 dark:hover:text-blue-500;
}

.link-darken {
  @apply text-zinc-600 dark:text-zinc-500 hover:text-zinc-700 dark:hover:text-zinc-400;
}

.link-danger {
  @apply text-red-500 hover:text-red-600 dark:text-red-400 dark:hover:text-red-500;
}

.btick {
  font-weight: inherit;
}

.btick::before {
  content: "`";
}

.btick::after {
  content: "`";
}

.prose {
  @apply dark:text-zinc-300;
}
.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  @apply dark:text-zinc-100;
}
.prose h2 {
  @apply text-3xl;
}
.prose h3 {
  @apply text-2xl;
}
.prose h4 {
  @apply text-xl;
}
.prose h5 {
  @apply text-lg;
}
.prose h6 {
  @apply text-base;
}
.prose p, .prose ol, .prose ul, .prose li, .prose strong {
  @apply dark:text-zinc-300 text-xl;
}
.prose p {
  @apply leading-7;
}
.prose code {
  @apply dark:text-zinc-100;
}
.prose a {
  @apply dark:text-zinc-100;
}
.prose img {
  @apply rounded-lg border border-zinc-200 dark:border-zinc-800 shadow-sm;
}

hr {
  @apply border border-zinc-100 dark:border-zinc-800;
}

.changelog h2 {
  @apply my-2;
}

.changelog time {
  @apply text-zinc-500;
}

/* video */
.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.2765957447%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
}
.video-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.video-container video {
  height: 100%;
  width: 100%;
}

/* bg-yellow */
.bg-yellow {
  background: #ecd53f !important;
}

.bg-vault-image {
  background-image: url(/assets/img/bg-black2.png) !important;
  background-size: fit;
  background-repeat: repeat;
  background-position: center !important;
}


/* look at these */
.text-yellow {
color: #ecd53f !important;
}
.text-underline-hover {
text-decoration: none;
}
.text-underline-hover:hover {
text-decoration: underline;
}
.fw-extrabold {
font-weight: 750 !important;
}
.border-yellow {
border-color: #ecd53f !important;
}
.border-yellow-hover:hover {
border-color: #ecd53f !important;
}
.inset-shadow {
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
}

.collapsing-no-transitions {
transition: none !important;
}
.how-btn:hover {
background-color: #f8f9fa !important;
}
input[name="how-radio"]:checked + label {
border-color: #222529 !important;
}
.screenshot img {
width: 100%;
}
