<section class="home-company-cloud w-full mx-auto mt-12" aria-label="Projects using Dotenvx">
  <div class="flex flex-wrap items-center justify-center gap-x-3 sm:gap-x-6">
    <div role="img" aria-label="Google" class="flex items-center justify-center h-20 px-3 w-28 sm:w-32 opacity-75">
        {% include logos/google2.html class="w-full h-8 max-w-28" %}
      </div>
    <div role="img" aria-label="NASA" class="flex items-center justify-center h-20 px-3 w-28 sm:w-32 opacity-75">
        {% include logos/nasa.html class="w-full h-16 max-w-28 scale-90" %}
      </div>
    <div role="img" aria-label="AWS" class="flex items-center justify-center h-20 px-3 w-28 sm:w-32 opacity-75">
        {% include logos/aws.html class="w-full h-11 max-w-28" %}
      </div>
    <div role="img" aria-label="Ericsson" class="hidden sm:flex items-center justify-center h-20 px-3 w-28 sm:w-32 opacity-75">
      {% include logos/ericsson.html class="w-full h-8 max-w-28 scale-90" %}
    </div>
  </div>
</section>
