<section class="radar-section" aria-label="Adopted by">
  <div class="armor-shell">
    <div class="design-list">
      <p class="design-list-title">Adopted by</p>
      <ul class="design-list-items">
        <li>
          <a
            class="design-link"
            href="https://github.com/search?q=repo%3Anasa%2Fearthdata-search%20dotenvx&type=code"
            target="_blank"
            rel="noopener noreferrer"
          >NASA</a>
        </li>
        <li>
          <a
            class="design-link"
            href="https://github.com/search?q=repo%3AGoogleCloudPlatform%2Fcloud-run-mcp%20dotenvx&type=code"
            target="_blank"
            rel="noopener noreferrer"
          >Google</a>
        </li>
        <li>
          <a
            class="design-link"
            href="https://docs.amplify.aws/react/deploy-and-host/fullstack-branching/secrets-and-vars/#local-environment-2"
            target="_blank"
            rel="noopener noreferrer"
          >AWS</a>
        </li>
        <li>
          <a
            class="design-link"
            href="https://github.com/search?q=repo%3Apaypal%2Fagent-toolkit%20dotenvx&type=code"
            target="_blank"
            rel="noopener noreferrer"
          >PayPal</a>
        </li>
        <li>
          <a
            class="design-link"
            href="https://github.com/search?q=org%3ACrowdStrike+dotenvx&type=code"
            target="_blank"
            rel="noopener noreferrer"
          >CrowdStrike</a>
        </li>
        <li>
          <a
            class="design-link"
            href="https://supabase.com/docs/guides/local-development/managing-config#going-further"
            target="_blank"
            rel="noopener noreferrer"
          >Supabase</a>
        </li>
        <li>
          <a
            class="design-link"
            href="https://github.com/dotenvx/dotenvx/network/dependents"
            target="_blank"
            rel="noopener noreferrer"
          >and more</a>
        </li>
      </ul>
    </div>
  </div>
</section>
