<footer class="radar-footer">
  <div class="armor-shell radar-footer-inner">
    <div class="design-list radar-footer-list">
      <p class="design-list-title">DOTENVX LLC</p>
      <ul class="design-list-items">
        <li><a class="design-link" href="/">Overview</a></li>
        <li><a class="design-link" href="/docs">Docs</a></li>
        <li><a class="design-link" href="/dotenvx.pdf" target="_blank" rel="noopener noreferrer">Whitepaper</a></li>
        <li><a class="design-link" href="/armor">Armor</a></li>
        <li><a class="design-link" href="/docs/armor">Armor Docs</a></li>
        <li><a class="design-link" href="/pricing">Pricing</a></li>
        <li><a class="design-link" href="/changelog">Changelog</a></li>
        <li><a class="design-link" href="/opensource">Open Source</a></li>
        <li><a class="design-link" href="https://github.com/dotenvx/dotenvx" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        <li><a class="design-link" href="https://www.npmjs.com/package/@dotenvx/dotenvx" target="_blank" rel="noopener noreferrer">NPM</a></li>
        <li><a class="design-link" href="https://trust.dotenvx.com" target="_blank" rel="noopener noreferrer">Trust Center</a></li>
        <li><a class="design-link" href="https://status.dotenvx.com">Status</a></li>
        <li><a class="design-link" href="/contact">Contact</a></li>
        <li><a class="design-link" href="https://twitter.com/dotenvx" target="_blank" rel="noopener noreferrer">X</a></li>
        <li><a class="design-link" href="/privacy">Privacy</a></li>
        <li><a class="design-link" href="/terms">Terms</a></li>
        <li><a class="design-link" href="/login">Log In</a></li>
      </ul>
    </div>
  </div>
</footer>
