<a href="https://github.com/search?q=org%3Acocos%20dotenvx&type=code" class="hidden md:flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  Cocos
</a>
<a href="https://github.com/search?q=org%3Aritual-net%20dotenvx&type=code" class="hidden md:flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  Ritual
</a>
<a href="https://github.com/search?q=org%3Aonejs%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  One
</a>
<a href="https://github.com/search?q=org%3ACity-of-Helsinki%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  🇫🇮 Helsinki
</a>
<a href="https://github.com/search?q=org%3Asettlemint%20dotenvx&type=code" class="hidden md:flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  SettleMint
</a>
<a href="https://github.com/search?q=repo%3Astacksjs%2Fstacks%20dotenvx&type=code" class="hidden md:flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  Stacks
</a>
<a href="https://github.com/search?q=repo%3ASocketDev%2Fsocket-cli%20dotenvx&type=code" class="hidden md:flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  Socket
</a>
<a href="https://github.com/search?q=org%3Anasa%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  NASA
</a>
<a href="https://github.com/search?q=repo%3Asupabase%2Fcli%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  Supabase
</a>
<a href="https://docs.amplify.aws/react/deploy-and-host/fullstack-branching/secrets-and-vars/#local-environment-2" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  AWS
</a>
<a href="https://github.com/search?q=org%3Anumerique-gouv%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  🇫🇷 France
</a>
<a href="https://github.com/search?q=org%3Afacebook%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  Facebook
</a>
<a href="https://github.com/search?q=org%3Aopennextjs%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  OpenNext
</a>
<a href="https://github.com/search?q=org%3Abitcoin-sv%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  BitcoinSV
</a>
<a href="https://github.com/search?q=org%3Aneondatabase-labs%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  NEON
</a>
<a href="https://github.com/search?q=org%3Arocicorp%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  Rocicorp
</a>
<a href="https://www.npmjs.com/package/@procore/core-react?activeTab=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  Procore
</a>
<a href="https://github.com/search?q=org%3Astacks-sbtc%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  sBTC
</a>
<a href="https://github.com/search?q=org%3Ahmcts%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  🇬🇧 U.K
</a>
<a href="https://github.com/search?q=org%3Abcgov%20dotenvx&type=code" class="flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  🇨🇦 B.C.
</a>
<a href="https://github.com/search?q=org%3Adaytonaio%20dotenvx&type=code" class="hidden md:flex items-center tracking-tight font-black h-16 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
  Daytona
</a>
