---
layout: default
---

<main class="mx-5 lg:mx-auto pt-10 max-w-5xl">
  <a class="link-primary text-sky-500" href="/blog">&larr; back to blog</a>
  <img class="mx-auto h-14 w-14 rounded-full" src="/assets/img/mot.jpg" alt="Mot" />
  <p class="text-center text-lg my-1 text-zinc-500 font-medium">Scott Motte – <span class="italic">Mot</span></p>

  <p class="text-zinc-400 dark:text-zinc-600 text-center font-medium mt-10 mb-2">
    <time datetime="{{ page.date | date: "%Y-%m-%d"  }}">{{ page.date | date: "%B %d, %Y" }}</time>
  </p>
  <article>
    <h1 class="text-4xl md:text-5xl text-zinc-900 dark:text-zinc-100 font-bold text-center mb-16">
      {{ page.title }}
    </h1>

    <div class="prose prose-lg mx-auto max-w-prose">
      {{ content }}
    </div>

  </article>

  <div class="prose prose-lg mx-auto max-w-prose my-10">
    <p class="text-center"><a href="/feed.xml" class="link-primary underline">Subscribe via RSS</a> or follow us <a href="https://x.com/dotenvx">@dotenvx 𝕏</a></p>
  </div>
</main>
