<section class="w-full max-w-3xl mx-auto px-6 mt-20 md:mt-32">
  <div class="flex gap-10 h-full flex-col md:flex-row items-center justify-center">
    <div class="flex-1">
      <h2 class="my-5 text-center md:text-start text-5xl md:text-5xl lg:text-6xl font-bold tracking-tight text-zinc-950 dark:text-zinc-50">And rapid adoption.</h2>
    </div>
  </div>

  <p class="my-5 text-lg md:text-xl lg:text-xl font-semibold tracking-tight text-zinc-950 dark:text-zinc-50">
    Dotenvx is installed more than <a href="https://npm.chart.dev/@dotenvx/dotenvx" class="link-primary">half a million times weekly</a>.
  </p>
  <p class="my-5 text-lg md:text-xl lg:text-xl font-semibold tracking-tight text-zinc-950 dark:text-zinc-50">
    It's only <a href="https://dotenvx.com/blog/2024/06/24/dotenvx-next-generation-config-management.html" class="link-primary">one year old</a>, and yet <a href="https://paypal.com" class="link-primary">Paypal</a>, <a href="https://www.nasa.gov/" class="link-primary">NASA</a>, <a href="https://procore.com" class="link-primary">Procore</a>, <a href="https://supabase.com" class="link-primary">Supabase</a>, <a href="https://opennext.js.org/" class="link-primary">OpenNext</a>, <a href="https://aws.amazon.com" class="link-primary">AWS</a>, <a href="https://socket.dev" class="link-primary">Socket</a>, <a href="https://daytona.io" class="link-primary">Daytona</a>, <a href="https://stacks.co"
    class="link-primary">Stacks</a>, and <a href="https://facebook.com" class="link-primary">Facebook</a> have all adopted it. Even stereotypically slow moving government departments in <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service" class="link-primary">Britain</a>, <a href="https://www.numerique.gouv.fr/" class="link-primary">France</a>, <a href="https://github.com/bcgov" class="link-primary">Canada</a>, and <a href="https://www.hel.fi/fi"
    class="link-primary">Finland</a>, having evaluating it for its extra security benefits, have adopted it.
  </p>
  <p class="my-5 text-lg md:text-xl lg:text-xl font-semibold tracking-tight text-zinc-950 dark:text-zinc-50">
    It's being used inside AI tooling like <a href="https://github.com/paypal/agent-toolkit" class="link-primary">Paypal's Agent-Toolkit</a> and <a href="https://www.daytona.io/docs/typescript-sdk/" class="link-primary">Daytona's SDK</a>. It's trusted by security software like <a href="https://github.com/SocketDev/socket-cli" class="link-primary">Socket's CLI and Registry</a>. AWS recommends it with <a
      href="https://docs.amplify.aws/react/deploy-and-host/fullstack-branching/secrets-and-vars/#local-environment-2" class="link-primary">AWS Amplify</a>, NASA uses it to help power <a href="https://github.com/nasa/earthdata-search" class="link-primary">Earthdata Search</a>, and Supabase requires it to unlock their <a href="https://supabase.com/docs/guides/deployment/branching#using-dotenvx-for-git-based-workflow" class="link-primary">Branching feature</a>. It's incredible, and it will be even more exciting to watch year two unfold.
  </p>
</section>

<section class="w-full max-w-4xl mx-auto my-2 lg:my-10">
  <div class="md:py-0 rounded-lg overflow-hidden">
    <div class="flex gap-5 lg:gap-10 items-center justify-center">
      <img src="/assets/img/logo-socket.png" class="h-8 w-auto" alt="Socket"/>
      <img src="/assets/img/logo-aws.png" class="h-8 w-auto" alt="AWS"/>
      <img src="/assets/img/logo-supabase.png" class="h-6 w-auto" alt="Supabase"/>
      <img src="/assets/img/logo-nasa.png" class="h-12 w-auto" alt="NASA"/>
      <img src="/assets/img/logo-procore.png" class="h-3 w-auto" alt="Procore"/>
    </div>
  </div>
</section>
