<section class="w-full max-w-5xl mx-auto px-6 mt-20 md:mt-32">
  <div class="flex gap-10 h-full flex-col md:flex-row items-center justify-center">
    <div class="flex-1">
      <h2 class="my-5 text-center text-5xl md:text-5xl lg:text-6xl font-bold tracking-tight text-zinc-950 dark:text-zinc-50">Exploding adoption.</h2>
      <p class="text-center text-zinc-500 my-5 text-lg">~500K weekly npm installs and growing.</p>
    </div>
  </div>
</section>
<section class="w-full max-w-3xl mx-auto px-6 flex flex-col gap-4">
  <div class="border border-zinc-200 rounded p-6 pb-0 bg-zinc-100">
    <div style="padding:80% 0 0 0;position:relative;"><iframe src="https://npm.chart.dev/embed/@dotenvx/dotenvx?primary=amber&gray=cool&theme=light" frameborder="0" allow="clipboard-write;" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="NPM Chart"></iframe></div>
  </div>
</section>
