<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-32">
  <h2 class="my-5 text-center md:text-start text-5xl lg:text-6xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Encryption</h2>
  <p class="mx-auto mt-3 text-center md:text-start leading-relaxed text-md md:text-lg">Add encryption to your .env files with a single command. Pass the <span class="btick">--encrypt</span> flag.</p>

  <div class="mt-6">
    {% include v1/components/encrypted-env-file.html %}
  </div>

  <div class="mt-8 flex flex-col gap-3 text-center">
    <div class="italic">
      "Our company was exposed to the CircleCI breach. Encryption would have protected us. We're using it now."
    </div>
    <div class="flex justify-center items-center gap-2">
      <div>
        <img src="/assets/img/remy-logic.png" class="rounded-full h-10 w-10"/>
      </div>

      <div>
        Remy Logic <span class="text-zinc-400 dark:text-zinc-600">– CTO</span>
      </div>
    </div>
  </div>
</section>
