<section class="w-full max-w-4xl lg:max-w-5xl mx-auto px-6 mt-20 md:my-32">
  <div class="flex gap-10 h-full flex-col md:flex-row items-center justify-center">
    <div class="flex-1">
      <h2 class="my-5 text-start text-5xl md:text-6xl lg:text-7xl font-bold tracking-tight text-zinc-950 dark:text-zinc-50">It's like a swiss army knife for your .env files.</h2>
      <p class="my-5 md:text-lg text-zinc-600 leading-2">Look at all these features.</p>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-3">
    {% include v1/components/feature-box.html feature="Run anywhere" description="Cross-platform–works everywhere" href="/features/run-anywhere" %}
    {% include v1/components/feature-box.html feature="Multi-environment" description="Switch environments easily" href="/features/multiple-environments" %}

    {% include v1/components/feature-box.html feature="Encrypted envs" description="Encrypt your envs for deploy" href="/features/encryption" %}
    {% include v1/components/feature-box.html feature="Secrets-as-code" description="Store and version secrets safely in code" href="/docs#monorepos" %}
    <!--{% include v1/components/feature-box.html feature="Monorepo" description="First-class monorepo support" href="/docs#monorepos" %}-->

    {% include v1/components/feature-box.html feature="Multiple .env files" description="Compose multiple .env files flexibly" href="/features/multiple-files" %}
    {% include v1/components/feature-box.html feature="Multi-line values" description="Add multi-line secrets like public keys" href="/docs/advanced/run-multiline" %}

    {% include v1/components/feature-box.html feature="Variable expansion" description="Add the value of another variable in your .env" href="/features/variable-expansion" %}
    {% include v1/components/feature-box.html feature="Command substitution" description="Add the output of a command in your .env" href="/features/command-substitution" %}

    {% include v1/components/feature-box.html feature="Get/Set" description="Conveniently get/set single variables" href="/features/get-key" %}
    {% include v1/components/feature-box.html feature="Contextual help" description="Built-in next steps when something goes wrong" href="/features/contextual-help" %}

    <!--
    {% include v1/components/feature-box.html feature="Scan" description="Scan and protect for secrets" href="/docs/advanced/scan" %}
    {% include v1/components/feature-box.html feature="Debug" description="Debug server and local envs with built-in debugging" href="/docs/advanced/run-debug" %}
    -->

    {% include v1/components/feature-box.html feature="Append .gitignore" description="Append to .gitignore in one command" href="/features/gitignore" %}
    {% include v1/components/feature-box.html feature="Generate .env.example" description="Generate .env.example in one command" href="/docs/advanced/genexample" %}

    {% include v1/components/feature-box.html feature="Prebuild" description="Prevent building .env files into docker images" href="/features/prebuild" %}
    {% include v1/components/feature-box.html feature="Precommit" description="Prevent committing .env files to code" href="/features/precommit" %}

    {% include v1/components/feature-box.html feature="CloakZero" description="Hide private keys – sharing access, not the keys" pro="true" %}
    {% include v1/components/feature-box.html feature="PR Reviews" description="Review encrypted .env changes in GitHub PRs" pro="true" %}
  </div>

  <p class="mx-auto mt-6 max-w-3xl text-center text-md md:text-lg text-zinc-600 leading-2 mb-6"><a href="/docs/advanced" class="link-primary underline font-semibold">See all advanced features</a></p>
</section>
