<section class="w-full max-w-5xl mx-auto px-6 mt-20 md:mt-40">
  <h2 class="my-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-zinc-950 dark:text-[#ECD53F]">10x. better.</h2>
  <p class="mx-auto mt-3 max-w-3xl text-center text-md md:text-lg text-zinc-600 leading-2 mb-6">Increased tooling and features to make dotenv 10x better.</p>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-3">
    {% include v1/components/feature-box.html feature="Run anywhere" description="Cross-platform–works everywhere"%}
    {% include v1/components/feature-box.html feature="Multi-environment" description="Switch environments easily" %}

    {% include v1/components/feature-box.html feature="Encrypted envs" description="Encrypt your envs for deploy"%}
    {% include v1/components/feature-box.html feature="Variable expansion" description="Add the value of another variable in your .env" %}

    {% include v1/components/feature-box.html feature="Multiple .env files" description="Compose multiple .env files flexibly" %}
    {% include v1/components/feature-box.html feature="Multi-line values" description="Add multi-line secrets like public keys" %}

    {% include v1/components/feature-box.html feature="Debug" description="Debug server and local envs with built-in debugging" %}
    {% include v1/components/feature-box.html feature="Contextual help" description="Built-in next steps when something goes wrong" %}

    {% include v1/components/feature-box.html feature="Append .gitignore" description="Append to .gitignore in one command" %}
    {% include v1/components/feature-box.html feature="Generate .env.example" description="Generate .env.example in one command" %}

    {% include v1/components/feature-box.html feature="Prebuild" description="Prevent building .env files into docker images" %}
    {% include v1/components/feature-box.html feature="Precommit" description="Prevent committing .env files to code" %}

    {% include v1/components/feature-box.html feature="Personal envs" description="Set personal environment variables" soon="coming soon" %}
    {% include v1/components/feature-box.html feature="Command substitution" description="Add the output of a command in your .env" soon="coming soon" %}

    {% include v1/components/feature-box.html feature="Scan" description="Scan and protect for secrets" soon="coming soon" %}
    {% include v1/components/feature-box.html feature="Get/Set" description="Conveniently get/set single variables" soon="coming soon" %}

    <!--{% include v1/components/feature-box.html feature="Sharing" description="Securely share envs across your team" soon="beta" %}-->
  </div>

</section>
