<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-40">
  <div class="flex gap-3 h-full flex-col items-center justify-center">
    <h1 class="my-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-zinc-950 dark:text-[#ECD53F]">dotenv. better.</h1>

    <p class="my-10 text-center leading-relaxed text-lg md:text-2xl"><span class="italic">a better dotenv</span>–from the creator of {% include v1/components/dotenv.html %}</p>

    <div class="flex-0 max-w-full mx-0 md:mx-4 lg:mx-10">
      {% include/v1/components/install-box.html %}
    </div>

    <div class="flex-0 max-w-full mx-0 md:mx-4 lg:mx-10 mt-20 lg:mt-36">
      {% include/v1/components/social-proof.html %}
    </div>

    <div class="">
      <a href="/dotenvx.pdf" class="link-primary font-semibold underline">Read the whitepaper</a>
    </div>
  </div>
</section>
