<section class="w-full max-w-3xl mx-auto px-6 mt-20 md:mt-32">
  <div class="flex gap-4 h-full flex-col md:flex-row items-center justify-center">
    <div class="md:w-2/5">
      <h2 class="my-5 text-center md:text-start text-5xl md:text-6xl lg:text-7xl font-bold tracking-tight text-zinc-950 dark:text-zinc-50">Try it for yourself.</h2>
    </div>
    <div class="md:w-3/5 text-sm p-4 border border-zinc-100 dark:border-zinc-900 shadow-sm rounded">
      {% include/v1/components/install-box.html %}
    </div>
  </div>
  <div class="flex gap-3 h-full flex-col items-center justify-center mt-10 lg:mt-20">
    <div class="flex-0 max-w-full mx-0 md:mx-4 lg:mx-10">
      {% include/v1/components/social-proof.html %}
    </div>
  </div>
</section>
