<section class="w-full max-w-5xl mx-auto px-6 mt-20 md:mt-40">
  <h2 class="my-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-zinc-950 dark:text-[#ECD53F]">Mods</h2>
  <p class="mx-auto mt-3 max-w-3xl text-center text-md md:text-lg text-zinc-600 leading-2 mb-6">Enhance your tools with dotenvx.</p>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
    {% include v1/components/mod-chrome-extension.html %}
    {% include v1/components/mod-vscode-extension.html %}
    {% include v1/components/mod-heroku-buildpack.html %}
    {% include v1/components/mod-llms.html %}
    {% include v1/components/mod-llms-full.html %}
  </div>
</section>
