<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-40">

  <div class="flex gap-10 h-full flex-col md:flex-row items-center justify-center">

    <div class="flex-1 min-w-0">
      <h2 class="my-5 text-center md:text-start text-5xl lg:text-6xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Multiple Environments</h2>

      <p class="text-center md:text-start leading-relaxed text-md md:text-lg">Run multiple environments. Create a .env.production file and load it with <code class="btick font-bold">dotenvx run --env-file=.env.production -- your-cmd</code>. It's straightforward, yet flexible.</p>

      <div class="mt-8 flex flex-col gap-3 text-center md:text-start">
        <div class="italic">
          "I've always liked the .env.environment pattern. Now it finally has first-class support."
        </div>
        <div class="flex justify-center md:justify-start items-center gap-2">
          <div>
            <img src="/assets/img/zara-function.png" class="rounded-full h-10 w-10"/>
          </div>

          <div>
            Zara Function <span class="text-zinc-400 dark:text-zinc-600">– Full-Stack/DevOps Engineer</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="flex-1 min-w-0 w-full">
      {% include v1/components/terminal-dotenvx-env-file.html %}
    </div>

  </div>

</section>
