<div class="top-0 dark:rounded-t-lg border-t dark:border-t border-t-yellow-300 z-20">
  <div class="mx-auto w-full">
    <div class="mx-auto flex pt-2 w-full items-center justify-between transition pl-2 lg:pl-5 lg:pr-8 pr-0.5 h-12">
      <div class="flex items-center justify-between">
        <a href="/" class="inline-block w-10 h-10 mr-3">
          {% include v1/components/logo.html class="w-10 h-10" %}
        </a>
        <a href="/docs" role="button" class="link-nav">Documentation</a>
      </div>
      <div class="flex items-center gap-x-3.5">
        <!--
        <a href="/features" role="button" class="hidden md:block link-nav mr-2">Features</a>
        <a href="/login" role="button" class="hidden md:block link-nav mr-1">Sign in</a>
        <a href="/pricing" role="button" class="hidden md:block nav-success">Pricing + Sign up</a>
        -->
        <div class="hidden md:block md:h-5 md:w-px md:bg-zinc-900/10 md:dark:bg-zinc-100/15"></div>
        {% include v1/components/toggle-mode.html %}
        <!--
        <a href="/login" class="hidden md:block opacity-75 hover:opacity-100">
          {% include logos/cloak-circle.html class="w-8 h-8 text-zinc-900 dark:invert" %}
        </a>
        -->
        <a href="https://github.com/dotenvx/dotenvx" class="hidden md:block opacity-75 hover:opacity-100">
          {% include logos/github.html class="w-8 h-8 text-zinc-900 dark:invert" %}
        </a>
      </div>
    </div>
  </div>
</div>
