<div class="top-0 dark:rounded-t-lg border-t dark:border-t border-t-yellow-300 z-20">
  <div class="mx-auto w-full">
    <div class="mx-auto flex pt-2 w-full items-center transition pl-2 lg:pl-5 lg:pr-8 pr-0.5 h-12">
      <div class="flex-shrink-0 md:flex-1 flex items-center h-10">
        <a href="/" class="flex gap-1">
          {% if page.logo == 'radar' %}
            <span>{% include v1/components/logo-radar.html class="w-10 h-10" %}</span>
          {% else %}
            <span>{% include v1/components/logo.html class="w-10 h-10" %}</span>
          {% endif %}
          <span class="btn-nav whitespace-nowrap">Dotenvx</span>
        </a>
      </div>
      <div class="flex-1 md:flex-shrink-0 h-10 flex items-center justify-start md:justify-center">
      </div>
      <div class="flex-shrink-0 md:flex-1 h-10 flex items-center justify-end">
        <!--
        <a href="/support" role="button" class="block link-nav">Support</a>
        <a href="/core" role="button" class="hidden md:block link-nav mr-2">Core</a>
        <a href="/pricing" role="button" class="hidden md:block nav-success">Pricing + Sign up</a>
        <a href="/login" class="hidden md:block opacity-75 hover:opacity-100">
          {% include logos/cloak-circle.html class="w-8 h-8 text-zinc-900 dark:invert" %}
        </a>
        -->
        <a href="/docs" role="button" class="btn-nav">Docs</a>
        <a href="/radar" role="button" class="relative btn-nav whitespace-nowrap">
          <span>Radar</span>
          <span class="absolute top-2 right-2 animate-ping h-2 w-2 rounded-full bg-[#00FF00] opacity-75"></span>
          <span class="absolute top-2 right-2 h-2 w-2 rounded-full bg-[#00FF00]"></span>
        </a>
        <a href="/login" role="button" class="btn-nav md:mr-2 flex items-center gap-1" data-umami-event="Account link">
          <span class="hidden md:block">Account</span>
          {% include v1/icons/person-circle.html class="block md:hidden w-3.5 text-zinc-500" %}
        </a>
        <div class="mr-3.5 hidden md:block md:h-5 md:w-px md:bg-zinc-900/10 md:dark:bg-zinc-100/15"></div>
        <div class="mr-3.5 md:mr-0">{% include v1/components/toggle-mode.html %}</div>
        <a href="https://github.com/dotenvx/dotenvx" class="ml-3.5 hidden xs:block md:block opacity-75 hover:opacity-100">
          {% include logos/github.html class="w-8 h-8 text-zinc-900 dark:invert" %}
        </a>
      </div>
    </div>
  </div>
</div>
