<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-40">
  <div class="flex gap-3 h-full flex-col items-center justify-center">
    <div class="flex gap-5 text-center leading-relaxed my-1">
      <h1 class="text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-black dark:text-[#ECD53F] py-4">dotenvx <span class="hidden">pro</span></h1>
      <div class="inline-block bg-[#ECD53F] text-black font-bold px-5 py-4 text-5xl sm:text-6xl md:text-7xl lg:text-8xl italic rounded-sm">PRO</div>
    </div>

    <p class="my-10 text-center leading-relaxed text-lg md:text-2xl"><span class="italic">Secrets manager for .env files</span>–encrypt, cloak, and sync them</p>

    <div class="w-full max-w-2xl mx-0 md:mx-4 lg:mx-10">
      <iframe class="w-full sm:w-[80%] lg:w-[90%] mx-auto aspect-video rounded-2xl border-2 bg-zinc-900 border-zinc-900" src="https://www.youtube.com/embed/z-lBjxfhWeY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="flex-0 max-w-full mx-0 md:mx-4 lg:mx-10 mt-10">
      <div class="flex flex-col md:flex-row items-center justify-center md:justify-start gap-3">
        <a href="https://pro.dotenvx.com/signup" class="btn-success w-auto flex-none inline-block">
          <span class="hidden md:block">Try it Free for 75 days</span>
          <span class="block md:hidden">Try Free 75 days</span>
        </a>

        <a href="Documentation" class="link-primary font-semibold underline">Documentation</a>
      </div>
    </div>
  </div>
</section>
