<!--
<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-40">
  <div class="flex gap-3 h-full flex-col items-center justify-center">
    <div class="flex gap-5 text-center leading-relaxed">
      <h1 class="my-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-black dark:text-[#ECD53F]">dotenvx <span class="hidden">pro</span></h1>
      <div class="inline-block bg-[#ECD53F] text-black font-bold px-5 py-4 text-8xl italic rounded-sm">PRO</div>
    </div>

    <p class="my-4 text-center leading-relaxed text-lg md:text-2xl">Secrets Management like casting a spell.</p>
  </div>
</section>
-->

<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-40">
  <div class="flex gap-3 h-full flex-col items-center justify-center">
    <div class="flex gap-1.5 mt-5 text-center leading-relaxed text-lg md:text-2xl">
      <h1 class="font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50 text-2xl py-1">dotenvx <span class="hidden">pro</span></h1>
      <div class="inline-block bg-[#ECD53F] text-black font-bold px-2.5 py-1 text-lg italic rounded-sm">PRO</div>
    </div>
    <h1 class="my-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-zinc-950 dark:text-[#ECD53F]">Sync .env files</h1>
    <p class="text-center text-2xl">Sync .env files between machines, environments, and team members.</p>
    <div class="text-center">
      <a href="/docs/pro" class="flex flex-col gap-2">
        <!--{% include logos/cloak.html class="h-24 text-zinc-500" %}-->
        <span class="link-primary font-semibold underline">Read the docs</span>
      </a>
    </div>
  </div>
</section>
