<!--
<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-40">
  <div class="flex gap-3 h-full flex-col items-center justify-center">
    <div class="flex gap-5 text-center leading-relaxed">
      <h1 class="my-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-black dark:text-[#ECD53F]">dotenvx <span class="hidden">pro</span></h1>
      <div class="inline-block bg-[#ECD53F] text-black font-bold px-5 py-4 text-8xl italic rounded-sm">PRO</div>
    </div>

    <p class="my-4 text-center leading-relaxed text-lg md:text-2xl">Secrets Management like casting a spell.</p>
  </div>
</section>
-->
