<section class="w-full max-w-5xl mx-auto px-6 mt-20 md:mt-40">
  <h2 class="my-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-zinc-950 dark:text-[#ECD53F]">Pro 🏆</h2>
  <p class="mx-auto mt-3 max-w-3xl text-center text-md md:text-lg text-zinc-600 leading-2 mb-6">For small and medium businesses–dotenvx pro.</p>
	<div class="max-w-4xl mx-auto w-full overflow-hidden border border-zinc-200 dark:border-zinc-800 rounded-lg">
		{% include v1/components/feature-table.html %}
	</div>

  <p class="mx-auto mt-6 max-w-3xl text-center text-md md:text-lg text-zinc-600 leading-2 mb-6"><a href="/pricing" class="link-primary underline font-semibold">See pricing page</a></p>
</section>
