<section class="w-full max-w-4xl lg:max-w-5xl mx-auto px-6 mt-12 md:mt-20">
  <div class="flex gap-3 h-full flex-col items-center justify-center">
    <h1 class="mt-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight text-zinc-950 dark:text-[#00FF00]">Dotenv. Observed.</h1>
    <p class="md:text-xl font-medium text-center mb-5">Observe, version, and back up your environment variables at runtime.</p>

    <div class="w-full max-w-3xl lg:max-w-4xl mx-auto md:px-6">
      <img src="/radar/ui.png" class="rounded-md border border-zinc-200 dark:border-zinc-800"/>
    </div>

    <div class="flex text-xl flex-col md:flex-row gap-4 md:gap-10 lg:gap-16 my-5">
      <div class="flex-1 flex flex-col gap-4 md:gap-8">
        <p>
          <strong>Backups.</strong>
          Every environment your app runs with is automatically captured, encrypted, and stored. Radar makes sure nothing gets lost.
        </p>
        <p>
          <strong>Versioning.</strong>
          Radar tracks every change to your envs across time. View diffs, roll back instantly, and understand who changed what, where, and when.
        </p>
        <p>
          <strong>Observability.</strong>
          Radar watches every app launch, process, or container, capturing the exact environment variables injected at runtime. Total visibility across dev, staging, and production.
        </p>
      </div>
      <div class="flex-1 flex flex-col gap-4 md:gap-8">
        <p>
          <strong>Anomaly Detection.</strong>
          Radar doesn’t just record—it notices. Get alerts when a secret appears in the wrong place, a value changes silently, or a critical env is missing.
        </p>
        <p>
          <strong>Attack Mitigation.</strong>
          Detect when unexpected env vars are injected into your runtimes—whether by a compromised CI job, rogue script, or sneaky shell override.
        </p>
        <hr/>
        <div class="flex flex-col gap-4">
          <a href="https://buy.stripe.com/7sY4gzdgFddq3ycape7IY02" target="_blank" rel="noopener" class="btn-radar w-full flex-none inline-block" data-umami-event="Buy button">
            Get Early Access – $49/year
          </a>
          <p class="text-sm text-zinc-600 dark:text-zinc-300">
            <strong>Early access to Dotenvx Radar</strong> – a new tool for observing, versioning, and backing up your environment variables at runtime. Includes yearly access to the core Radar product. Get in early at an amazing price. This price is a limited edition - available to early supporters.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
