<section class="w-full max-w-3xl mx-auto px-6 mt-20 md:mt-32">
  <div class="flex gap-10 h-full flex-col md:flex-row items-center justify-center">
    <div class="flex-1">
      <h2 class="my-5 text-center md:text-start text-5xl md:text-5xl lg:text-6xl font-bold tracking-tight text-zinc-950 dark:text-zinc-50">
        Easy to switch.
      </h2>
    </div>
  </div>

  <p class="my-5 text-lg md:text-xl lg:text-xl font-semibold tracking-tight text-zinc-950 dark:text-zinc-50">
    Just replace:
  </p>

  <div class="rounded-xl border border-zinc-300 dark:border-zinc-700 bg-zinc-100 dark:bg-zinc-900 p-6 font-mono text-base text-zinc-800 dark:text-zinc-100 shadow-sm">
    <code class="block text-zinc-500">// before</code>
    <div class="my-1 text-slate-400 font-semibold">require('dotenv').config()</div>
    <code class="block text-zinc-500 mt-6">// after</code>
    <div class="text-green-500 dark:text-green-400 font-semibold">require('@dotenvx/dotenvx').config()</div>
  </div>

  <p class="my-8 text-lg md:text-xl lg:text-xl font-semibold tracking-tight text-zinc-950 dark:text-zinc-50">
    And opt-in to all the benefits of dotenvx — without changing your current workflow.
  </p>
</section>
