<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-32">
  <div class="flex gap-10 h-full flex-col md:flex-row items-center justify-center">
    <div class="flex-1">
      <h2 class="my-5 text-center md:text-start text-5xl lg:text-6xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Sync secrets like code</h2>

      <p class="text-center md:text-start leading-relaxed text-md md:text-lg">Keep .env files consistent across teammates and environments with git-style workflows.</p>

      <!--
      <div class="mt-8 flex flex-col gap-3 text-center md:text-start">
        <div class="italic">
           "I like how usage is consistent across multiple languages and frameworks. No more wrestling with different tools."
        </div>
        <div class="flex justify-center md:justify-start items-center gap-2">
          <div>
            <img src="/assets/img/max-syntax.png" class="rounded-full h-10 w-10"/>
          </div>

          <div>
            Max Syntax <span class="text-zinc-400 dark:text-zinc-600">– Polyglot Programmer</span>
          </div>
        </div>
      </div>
      -->
    </div>
    <div class="flex-1 min-w-0 w-full">
      {% include v1/components/terminal-dotenvx-pro-sync.html %}
    </div>
  </div>
</section>
