<section class="w-full max-w-5xl mx-auto px-6 mt-20 mb-10 md:mt-60">
  <p class="text-center text-6xl text-base text-zinc-500 font-medium my-8">Trusted by millions of developers worldwide</p>

  <div class="mx-auto flex w-5/6 lg:5/6 flex-col gap-4">
    <div class="mx-auto grid grid-cols-2 items-center sm:grid-cols-3 lg:grid-cols-6">
      <div class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
        {% include logos/meta.html class="h-7" %}
      </div>
      <div class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
        {% include logos/github.html class="h-6" %}
      </div>
      <div class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-50 md:opacity-75 hover:opacity-100">
        {% include logos/gitlab.html class="h-6" %}
      </div>

      <div class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-50 lg:opacity-75 hover:opacity-100">
        {% include logos/netflix.html class="h-6" %}
      </div>
      <div class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-25 md:opacity-50 lg:opacity-75 hover:opacity-100">
        {% include logos/serverless.html class="h-6" %}
      </div>
      <div class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-25 md:opacity-50 lg:opacity-75 hover:opacity-100">
        {% include logos/next.html class="h-6" %}
      </div>

      <div class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-[0.15] md:opacity-25 lg:opacity-50 hover:opacity-100">
        {% include logos/nuxt.html class="h-8" %}
      </div>
      <div class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-[0.15] md:opacity-25 lg:opacity-50 hover:opacity-100">
        {% include logos/nest.html class="h-4" %}
      </div>
      <div class="items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden sm:flex opacity-25 lg:opacity-50 hover:opacity-100">
        {% include logos/vue.html class="h-6" %}
      </div>
      <div class="items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden sm:flex opacity-25 lg:opacity-50 hover:opacity-100">
        {% include logos/turborepo.html class="h-6" %}
      </div>

    </div>
  </div>
</section>
