<section class="w-full max-w-5xl mx-auto px-6 mt-20 md:mt-40">
  <!--<p class="text-center font-semibold mb-2 text-xl">100% Open Source. 100% Free.</p>
  <p class="text-center">plus a commercial <span class="font-black italic">Pro</span> extension – if you want it</p>
  <h2 class="my-5 text-center text-5xl lg:text-6xl font-bold tracking-tight leading-none text-zinc-950 dark:text-[#ECD53F]">Trusted by thousands of organizations</h2>
  -->

  <div class="flex gap-3 h-full flex-col items-center justify-center">
    <h2 class="my-5 text-center text-4xl lg:text-5xl font-light tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Trusted by thousands of organizations</h2>
  </div>
</section>

<div class="overflow-hidden w-full max-w-5xl mx-auto mb-4 opacity-75">
  <div class="marquee-track">
    <div class="marquee-content">
      {% include v1/components/trust-logos.html %}
    </div>
    <div class="marquee-content">
      {% include v1/components/trust-logos.html %}
    </div>
  </div>
</div>

<section class="w-full max-w-5xl mx-auto px-6">
  <div class="max-w-5xl mx-auto">
    <div class="border border-zinc-200 dark:border-zinc-800 rounded overflow-hidden">
      {% include v1/components/feature-table.html %}
    </div>

    <p class="text-center text-sm mt-4 italic">"100% Open Source. 100% Free – with optional <span class="font-black italic">Pro</span> extension." - <a target="_blank" href="https://mot.la" class="underline" target="_blank">Founder, Mot</a></p>

    <div class="text-center p-0 m-0 my-6 text-center leading-7 text-zinc-600 dark:text-zinc-400">Can't find what you're looking for? Send us an email – <a href="mailto:support@dotenvx.com" class="font-semibold link-primary underline">support@dotenvx.com</a>.</div>

    <div class="flex gap-3 flex-col items-center justify-center">
      <div class="flex-0 max-w-full mx-0 md:mx-4 lg:mx-10">
        {% include v1/components/install-box.html buttons="false" docs="false" %}
      </div>
    </div>
  </div>
</section>
